
body {
  margin: 0;
  background-color: #fdf6e3; /* cream */
  font-family: "Segoe UI", sans-serif;
}

.layout {
  display: flex;
}

.sidebar {
  width: 70px;
  height: 100vh;
  background-color: #0a1f44; /* navy */
  color: white;
  transition: 0.3s;
}

.sidebar.open {
  width: 220px;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.menu-item {
  padding: 15px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #132c5c;
}

.main {
  flex: 1;
  padding: 20px;
}


.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a1f44;
  color: white;
  padding: 20px;
  border-radius: 12px;
}


.side-stats {
  text-align: right;
  font-size: 18px;
}


.grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


.small-box {
  flex: 1;
  background-color: #0a1f44;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}