
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0a2a43; /* navy blue */
}


.logo img {
  height: 50px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}


.nav-links a:hover {
  color: #cbd5e1; /* më e çelët */
}


.nav-links a:active {
  color: #94a3b8;
}


.register-btn {
  background-color: white;
  color: #0a2a43;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #cbd5e1;
}